@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --color-primario:#0A3871;
    --color-secundario:#F3F5FC;
    --color-terciario:#FFF;
    --color-note:#495057;
    
    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;

}
a:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.main{
    max-width: 1440px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
}

.result{
    background-color: var(--color-terciario) ;
    width: 400px;
    min-height: 944px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin: 40px;
    padding: 16px 32px;
    box-shadow: 0 24px 32px -8px rgb(0 0 0 / 8%);
}
.input {
    display: flex;
    flex-direction: column;    
}
.input__header{
    margin-top: 40px;
    margin-left: 40px;
}
.input__normal{
    font-family: var(--fuente-inter);
    font-style: normal;
    font-size: 32px;
    color: var(--color-primario);
}
.input__note{
    font-family: var(--fuente-inter);
    font-style: normal;
    font-size: 16px;
    color: var(--color-note);
    display: flex;
    gap: 8px;
    margin-left: 240px;
}
.input__buttons{
    display: flex;
    gap: 24px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    color: var(--color-primario);
    margin-left: 240px;
    margin-top: 8px;
}
.input__button{
    background-color: transparent;
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    padding: 22px;
    cursor: pointer;
    width: 280px;
    text-align: center;
    text-decoration: none;    
}
.input__textarea{
    margin-left: 240px;
    width: 577px;
    height: 400px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: 0;
    font-family: var(--fuente-inter);
    font-size: 32px;
}
.input__textarea::placeholder {
    opacity: 0.5;
    color: var(--color-primario);
  }

.active{
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
    color: var(--color-terciario);    
}

.result__text{
    font-family: var(--fuente-inter);
    text-align: center;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;;
}

.result__text__title{
    color:#343A40;
    font-size: 24px;
    font-weight: bold;
}

.result__text__normal{
    color:#495057;
    font-size: 16px;
}

.input__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 100%;
    padding-bottom: 64px;
    padding-top: 64px;
}
.result__text__encrypt{
    color: var(--color-note);
    font-size: 24px;
    height: 800px;

}
.result__text__found{
    display: none;
    flex-direction: column;    
    font-family: var(--fuente-inter);
    gap: 32px;
    width: 100%;
}
.button_copy{
    width: auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*div{     border: red 1px solid;}*/
@media (max-width: 768px){
    .main{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 40px;
    }
    .result{
        width: 100%;
        min-height: auto;
        margin: 0;
    }
    .input{
        width: 100%;
    }
    .input__header{
        margin-left: 0;
    }
    .input__note{
        margin-left: 0;
        font-size: 12px;
    }
    .input__buttons,.input__textarea{
        width: auto;
        margin-left: 0;
    }
    .result__back{
        display: none;
    }
    .result__text__encrypt{
        height: auto;
    }

}
@media (max-width: 375px){
    .main{
        padding: 16px;
    }
    .input__buttons{
        flex-direction: column;
        gap: 16px;
    }
    .input__header{
        margin-top: 8px;
    }
    .input__button{
        width: auto;
    }
}